# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
*.xml
logs/*
.idea/.gitignore
.idea/codeStyles/
.idea/compiler.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/play2_compiler_settings.xml
.idea/play2_project_settings.xml
.idea/play2_settings.xml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/vcs.xml
gui/node_modules/
project/project/
project/target/
target/


node_modules
npm-debug.log
build
.dockerignore
**/.git
**/.DS_Store
**/node_modules
app/examData/asset/

app/filters/
app/public/
