@(exams: List[Exam])
<!DOCTYPE html>
<html lang="en">
        <head>
            @* Here's where we render the page title `String`. *@
            <title>Exam Simulato v0.1</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        </head>
    <body>
        <section id="top">
            <div class="wrapper">
                Starting!!!
            </div>
        </section>
        <div id="content" class="wrapper doc">
            <article>

                <h1>Exam Simulato v0.1</h1>

                <p>
                    Congratulations, you’ve just created a new Play application. This page will help you with the next few steps.
                </p>

                <blockquote>
                    <p>
                        You’re using Play
                    </p>
                </blockquote>
            </article>
            <ul>
                @for(exam <- exams) {
                    <li>@exam.properties.Code</li>
                }
            </ul>
        </div>
    </body>
</html>